body {
    background-color: #fde8cd;
    min-height: 100vh;
}

header {
    background-image: urL(../img/burger.jpg);
    background-size: contain;
    background-position: center;
}

h1 {
    background-color: rgba(255,255,255,0.6);
    border-radius: 5px;
    color:black;
    font-size: 5rem;
    display: inline-block;
    padding: 1rem;
}

h3 {
    text-decoration: underline;
}

h1, h3 {
    font-family: 'Redressed', cursive;
}

ul {
    list-style-type: none;
}

textarea {
    padding: 2rem;
}

.each-section {
    margin: 0 auto;
    padding: 2rem;
    text-align:center;
}

.top-section {
    padding-top: 5rem;
    padding-bottom: 10rem;
}

.blue-section {
    background-color: #7fdbda;
}

.bottom-section {
    padding: 1rem;
}

.bottom-section p {
    margin-bottom: 0;
}

.devoured {
    color: #e84a5f;
    text-decoration: line-through;
}

#burger-image {
    border-radius: 5px;
    height: 15rem;
    margin: auto;
}

#buger-lists {
    margin-left: 5rem;
    margin-right: 5rem;
}

